{{#each wdwtwa}}

<div>
	<span class="name">
		{{#if @first}}
			<strong>{{this.name}}</strong>
		{{else}}
			{{this.name}}
		{{/if}}
	</span>
	<span class="bar-wrapper">
		<span class="bar {{applyScaleClass this.neighbourhoodnetdif}}" style="width:{{createBar this.neighbourhoodnetdif}}px;margin-left:{{createMargin this.neighbourhoodnetdif}}px"></span>
		<span class="percentage" style="margin-left:{{createNumberMargin this.neighbourhoodnetdif}}px">{{this.neighbourhoodnetdif}}</span>
	</span>
</div>

{{/each}}

{{log pages}}
